{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Question creation</h1>

    {{ form(form,{ 'attr': {'class': 'form-group'} }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
